* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: udemy sans, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe;
  }
  a {
    color: black !important;
    text-decoration: none !important;

    font-size: 15px;
    font-weight: 400;
    margin: 7px;
  }
  
  
  .threelines{
    display: none;
  }
  .login{
    background-color: transparent;
    border: 1px solid #1c1d1f;
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: -.02rem;
      font-size: .9rem;
    padding: 6px;
    width: 80px;
    height: 2.1rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    cursor: pointer;
  }
  .signup{
    background-color: #1c1d1f;
    box-sizing: border-box;
    color: #fff;
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: -.02rem;
      font-size: .9rem;
    padding: 6px;
    width: 80px;
    height: 2.1rem;
    display: flex;
    text-align: center;
    justify-content: space-around;
    cursor: pointer;
  }
  .earth{
    background-color: transparent;
    padding: 5px 5px 4px 5px;
    border: 1px solid #1c1d1f;
    align-items: center;
  }
    
    
  .searchimg{
      width: 25px;
      height: 25px;
      top: 20px;
      left: 240px;
      position:absolute;
  }
  .search{
      height: 3px;
      width: 50px;
      border: 1px solid #1c1d1f;
      border-radius: 100px;
      text-align: left;
      padding: 22px 22px 22px 34px;
      background-color: #f7f9fa;
      margin: 0 1.2rem;
      display: flex;
      flex-grow: 1;  
  }
  
  .flex-container{
      z-index: 99999;
      padding: 10px 15px;
      position: relative;
      box-shadow: 0 2px 4px rgb(0 0 0 / 7%), 0 4px 12px rgb(0 0 0 / 7%);
      align-items: center;
      justify-content: space-around;
      height: 75px;
      display: flex;
      font-weight: 400;
      font-size: 0.8rem;
  
  }
  
  
  
  .alarm{
      display: flex;
      align-items: center;
      justify-content: center;
   }
   
  .textalarm{
      padding: 25px 40px 25px 25px;
      font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
      font-size: 18;
      background-color: white;
      position: absolute;
      top: 150px;
      left: 200px;
      box-shadow: 0 2px 4px rgb(0 0 0 / 7%), 0 4px 12px rgb(0 0 0 / 7%);
  }
  
  
  
  .courses{
      padding : 30px;
      font-size: large;
      font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;  
    }
  .sections{
      margin-top: 20px;
      padding-right:400px;
      display: flex;
      justify-content: space-between;    
  }
  .click{

        font-weight: lighter;
       text-decoration: #1c1d1f;
      cursor: pointer;
      margin-right: 10px;
  }
  .python{
      box-sizing: border-box;
      border: 1px solid #1c1d1f;
      padding: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .top{
    
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
  }
  .topptext
  {
    font-weight: bold;
    margin-left: 100px;

  }
  .toptext{

    margin-top: 10px;
    
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
  }
  

  .pythonbutton{
      width: 120px;
      font-size: 15px;
      text-align: center;
      font-weight: bold;
      margin-top : 15px;
      margin-bottom: 15px;
      border: 1px solid #1c1d1f;
      padding: 5px;
      cursor: pointer;
  }
  .pythoncourses{
      display: flex;
      flex-direction: row;
      justify-content: left;

      flex-wrap: wrap;
      
  }
  .cardss{
    display:"flex";
    float:"left";
    flex-Direction:"row";
    
  }


  .course{
    margin: 25px;
    width: 200px;
    flex-wrap: wrap;
  }
  

  .card{
    margin: 3px;
  }
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -77%;
     margin: 10px; 
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

#carousel-control-next-icon-override {
  background-image: none ;
}
#carousel-control-next-override {
  right: -5% ;
}
#carousel-control-prev-override {
  left: -9.5% ;
}

.carousel-control-prev-icon {
  background-image: none;
}
  .carousel-inner {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*position: relative;*/
    width: 100%;
    overflow: hidden;
  }



  .rate{
    /*////*/
      display: flex;
      direction: ltr;
      flex-direction: row;
      padding-right: 100px;
      font-size: smaller;
      align-items: center;
      justify-content: space-between;
      
  }
  .number{
      color:rgb(146, 90, 23);
      font-weight: bolder;
  }
  .instructor{
      font-weight: light;
      font-size: 13px;   
  }
   
  .cost{
      display: flex;
      justify-content: left;
      align-items: center;
    }
    .oldcost
    {
      margin-left: 10px;
      text-decoration: line-through;
      font-weight: lighter;
    }
    .best{
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: rgb(218, 225, 134);
      color: rgb(124, 98, 32);
      font-weight: bold;
      text-align: center;
      width: 120px;
    }
  
    @media screen and (max-width: 900px){

      .container{
        flex-wrap: wrap;
        float: left;
      }
      .text-center
      {
        flex-wrap: wrap;
        float: left;
      }

     .earthsmall{
      display: none;
     }
     .loginsmall{
      display: none;
     }
     .signupsmall{
      display: none;
     }
     .search{
      display: none;
     }
     .searchimg{
      display: none;
     }
     
     .upsidebar{
      display: none;
     }
     .cart{
      display: none;
     }
     .threelines{
      display: flex;
      justify-content: left;
  
     }
     #buttonsearch{
      display: none;
     }
     .flex-container{
      justify-content: right;
      justify-content: space-between;
   
     }
     .categories{
      display: none;
     }
     .textalarm{
      position: relative;
      top: inherit;
      left: inherit;
      box-shadow: none;
     }
     
     .alarm{
      margin-top: 38px;
      display: fl;
      width: 415px; height: 330px; 
      display: flex;
     }
  
     .sections{
      margin-top: 10px;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      
    }


    @media screen and (max-width: 900px)
    {
      .cardss{
        /*flex-wrap:"wrap";*/
      }
    }

    
      
    }
